---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";


export async function getStaticPaths() {
    const projects = await getCollection('projects');

    return projects.map((project)=> ({
        params: { id: project.slug },
        props: { project }
    }))
};

const { project } = Astro.props;
const { data } = project;
const { localization, name, course, scale, team } = data;

const { Content } = await render(project);

---

<Layout title={ name }>
    <Header/>
    <div class="mx-auto w-full py-10 px-8">
        <main class="flex flex-col pt-20 mb-10">
            <h1>{ name }</h1>
            <p class="text-neutral-500">{ localization }</p>
            { course && <p class="text-neutral-500">Course: { course }</p>}
            { scale && <p class="text-neutral-500">Scale: { scale }</p>}
            {team && <p class="text-neutral-500">Team: {team}</p>}
            <div>
                <Content/>
            </div>
        </main>
    </div>
    <Footer/>
</Layout>