---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
    const projects = await getCollection('projects');

    return projects.map((project)=> ({
        params: { id: project.slug },
        props: { project }
    }))
};

const { project } = Astro.props;
const { data, slug } = project;
const { localization, name, course, scale, team, images } = data;
const { Content } = await render(project);
---

<Layout title={ name }>
    <Header/>
    <div class="mx-auto w-full py-10 px-8">
        <main class="pt-20 mb-10">
            <h1 class="text-4xl font-bold text-pretty">{ name }</h1>
            <div class="flex flex-col md:grid grid-cols-8 gap-4 mt-8">
                <div class="col-span-2">
                    <p class="text-neutral-500">Location: { localization }</p>
                    { course && <p class="text-neutral-500">Course: { course }</p>}
                    { scale && <p class="text-neutral-500">Scale: { scale }</p>}
                    {team && <p class="text-neutral-500">Team: {team}</p>}
                </div>
                <div class="col-span-6">
                    <Content/>
                </div>
            </div>
            {images.length > 0 && (
                <div class="grid lg:grid-cols-3 gap-4 mt-10">
                    {images.map((src) => (
                    <img src={`/images/${slug}/${src}`} width="500" height="300" class="rounded mx-auto" />
                    ))}
                </div>
                )}
        </main>
    </div>
    <Footer/>
</Layout>
