@import "tailwindcss";

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/fonnts.com-CabinetGrotesk-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "CabinetGrotesk", "sans-serif";
}
