@import "tailwindcss";

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/fonnts.com-CabinetGrotesk-Regular.otf") format("openType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/fonnts.com-CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "CabinetGrotesk", "sans-serif";
}
