---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Experience from '../components/Experience.astro'
---

<Layout>
  <div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
    <Header></Header>
    <main>
      <section class="w-full mx-auto">
        <Experience/>
      </section>
    </main>
    <Footer></Footer>
  </div>
</Layout>
