---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
    <Header></Header>
    <main class="flex flex-col pt-20 mb-10">
      <SectionContainer id="experience" title="Experience">
        <Experience/>
      </SectionContainer>
      <SectionContainer id='contact' class='text-neutral-900 sm:bg-neutral-900 sm:text-white px-0'>
        <Contact/>
      </SectionContainer>
    </main>
    <Footer></Footer>
  </div>
</Layout>
