<div class="grid grid-cols-5 px-10 gap-10 max-w-5xl items-center mx-auto">
  <div class="col-span-3">
    <h2 class="text-6xl items-center text-pretty max-w-80">LET'S TALK ABOUT YOUR PROJECT</h2>
  </div>
  <form action="submit" class="flex flex-col gap-2 text-white col-span-2">
    <input type="text" placeholder="Full name" class="px-4 py-2 bg-white rounded-xl text-neutral-900">
    <input type="email" placeholder="Email" class="px-4 py-2 bg-white rounded-xl text-neutral-900">
    <textarea placeholder="Message" class="px-4 py-2 bg-white rounded-xl text-neutral-900" rows="6"></textarea>
    <button type="submit" class="px-2 py-1 bg-white rounded-xl text-neutral-900 cursor-pointer">Contact me</button>
  </form>
</div>
