---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: '2022-2025',
    title: 'Landlab, laboratorio de paisajes',
    description: "Junior architect and landscape designer. Urban design landscape and climate resilience projects",
  },
  {
    date: '2022',
    title: 'Jordi Henrich, arquitecte',
    description: 'Intern. Urban design projects'
  },
  {
    date: '2021-2022',
    title: "Department of urbanism, territory and landscape",
    description: "Teaching assistant (professor Zaida muxí)"
  },
]
---
<ol class="relative border-s border-gray-200"> 
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}></ExperienceItem>
      </li>
    ))
  }                 
</ol>

