<footer class="bg-neutral-900 text-white px-8 py-6 text-sm">
  <div class="flex flex-row justify-between">
    <div>
      <p>© 2025 Gina Marieges</p>
      <p class="text-neutral-400">Built with <span class="font-semibold">Astro</span> and <span class="font-semibold">Tailwind CSS</span></p>
    </div>
      <div class="flex items-center gap-4 mt-2">
        <a href="https://www.x.com/MariegesPere" aria-label="Pere Marieges X profile" target="_blank" rel="noopener noreferrer">
          <svg width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>        </a>
        <a href="https://www.instagram.com/peremarieges/" aria-label="Pere Marieges instagram profile" target="_blank" rel="noopener noreferrer">
          <svg width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
        </a>
        <a href="https://www.linkedin.com/in/pere-marieges-soucheiron-b4b420296/" aria-label="Pere Marieges Linkedin profile" target="_blank" rel="noopener noreferrer">
          <svg width="40" height="40" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>        </a>
      </div>
  </div>
</footer>
