<header class="flex justify-between px-8 py-2 bg-neutral-900 text-white items-center">
  <span class="text-7xl">PM</span>
  <nav class="hidden sm:flex flex-row gap-10 text-lg">
    <a href="/projects">PROJECTS</a>
    <a href="/experience">EXPERIENCE</a>
    <a href="/contact">CONTACT</a>
  </nav>
</header>
