---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {
    projects.map(project => {
      const { slug, data } = project;
      const { name, cover, localization, team } = data;

      return (
          
      <div class="p-6">
        <a href={`/projects/${slug}`} class="block mb-4">
          <img src={`/images/covers/${cover}`} alt={`${name} image`} class="w-full rounded-lg"/>
        </a>
        <h3 class="mt-4">{name}</h3>
      </div>
    
      )
    })
  }                
</div>
