---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {
    projects.map(project => {
      const { slug, data } = project;
      const { name, cover, localization, team } = data;

      return (
          
      <article class="flex flex-col">
        <a href={`/project/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
          <img src={`/images/covers/${cover}`} alt={`${name} image`} class="mr-5 w-48 rounded w-full rounded-lg"/>
        </a>
        <h3 class="mt-4">{name}</h3>
      </article>
    
      )
    })
  }                
</div>
